header > h1 {

    @media only screen and (max-width:4196px) and (min-width: 992px){
        text-align: center;
        font-size: 2em;
    }

    @media only screen and (max-width:992px) and (min-width: 599px){
        text-align: center;
    }

@include mobile-only{

    text-align: center;
    background-color: white;
}

}