
.h2-invisible{
    @media only screen and (max-width: 4196px) and (min-width: 992px){

        text-align: center;
        background-color: #efefef;
        margin: 0;
        padding-top: 1%
    }
    @media only screen and (max-width: 992px) and (min-width: 599px){
    display: none;

    }

    @include mobile-only{
        display: none
    }

}

.cartes{

    @include lighter;

    @media only screen and (max-width: 4196px) and (min-width: 992px){

        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;

      &__titre-main{
          display: none;
      }

      padding: 3% 0 3% 0;
    }

    @media only screen and (max-width:992px) and (min-width: 599px){
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        
    
        & :first-child{
            align-self: center;
        }
    }

   @include mobile-only{
    display: flex;
    flex-direction: column;
    align-items: center;

    & :first-child{
        align-self: flex-start;
    }
   }

    & a{
        position: relative;
        text-decoration: none;
        color: black;
        overflow: hidden;
        background-color: white;
        height: auto;
        width: 300px;
        box-sizing: border-box;
        border-radius: $border-radius;
        display: block;
        box-shadow: $shadow;

        @media only screen and (max-width:4196px) and (min-width: 992px){
            width: 40%;
            margin: 1% 1% 1% 1%;
        }

        @media only screen and (max-width:992px) and (min-width: 599px){
            width: 70%;
            margin: 5% 2% 3% 2%;
        }
        @include mobile-only{
            
            width: 90%;
            margin: 0 0 30px 0;
        }

        & span{
            z-index: 1;
            position: absolute;
            padding: 5px 5px;
            background-color:$colour-tertiary;
            color: green;
            left: 75%;
            top:10%;
            @media only screen and (max-width:4196px) and (min-width: 992px){

                left:85%;
                top:10%
            }
           

        }

& img{
    height: 200px;
    width: 100%;
    border-radius: $border-radius $border-radius 0 0;
    overflow: hidden;
    object-fit: cover;
    margin: 0;
    @include mobile-only{

        width: 100%;
    }
}

& div{

    position: relative;

    & i{

        position: absolute;
        top: 25%;
        right: 7%;
        font-size: $icone-size;
    }
}

& h4{
    background: white;
    margin: 0;
    padding: 12px 0 2px 5px;
        font-weight:bolder ;
        margin: 0 0 0 10px;
    } 

    & p{
        background: white;
        padding: 5px 0 15px 5px;
        margin: 0 0 0 10px;
        
    }


    & .fa-heart{

        font-size: 20px;
        
        
       
        &:hover{
            font-weight:bold ;
           
            color: $colour-primary;
            transition:  1s ease-out;
        }
       
      
       
    }

       
    }


}



