h1,h3{

    font-family: 'Shrikhand', cursive;
    // font-size:64px ;
    font-weight: 400;
}

h2,h4{

    font-family: 'Roboto', sans-serif;
    // font-size: ;
    font-weight:900 ;

}

p,li,button,figcaption,span{

    font-family: 'Roboto', sans-serif;
    // font-size: ;
    font-weight:300 ;
}