body{

    min-width: 300px;

    @include mobile-only{
        background-color: lighten($color-back, 20%);
    }
    
}


header{
   
    @media only screen and (max-width: 4096px) and (min-width: 599px)  {

        text-align: center;

         & h1{
            font-size: 2.8em;
         }
     }

     position: relative;
@include mobile-only{


    & h1{
margin: 0;
        background-color: white;
       padding: 4%;
        
    }
}


    & a{
        text-decoration: none;
        color: black;
        
    }

    & i{

        position: absolute;
        top:33%;
        left: 10%;
        font-size: $icone-size;
    }

}


.heading{
    text-align: center;
& img{
    width: 70%;
    height: 500px;
    
}

    @include mobile-only{

        & img{
        
            width: 100%;
            height: 20%;
                
           }
        
    } 
}


.menu{
    @media only screen and (max-width: 4096px) and (min-width: 599px){
        position: relative;
        border-radius: 0;
        bottom: 0;

    
    }

    
    position: relative;
    bottom: 40px;

    box-sizing: border-box;
    padding: 10px 0 90px 0;

    height: auto;
    @include lighter;
    
    border-radius: $border-radius $border-radius 0 0;

    &__icone{
        position: absolute;
        right: 10%;
        top: 3%;
        font-size: 1.5em;
        
    }

    & h1{
        @media only screen and (max-width: 4096px) and (min-width: 599px){
            text-align: center;
            font-size: 2.6em;
        }
       
        padding: 5px 5px;
    }
    & ul{

        @media only screen and (max-width: 4096px) and (min-width: 599px){
            
            align-items: center;
           
        }

        @include mobile-only{


        }

        
        margin: 0 0 50px 0;

        padding: 0;
        display: flex;
        flex-direction: column;
        

    & :first-child{
        margin-top: 0;
    }
}

    
    .liste{
        @media only screen and (max-width: 4096px) and (min-width: 992px){
            width: 700px;
            height: 100px;

        }

        @media only screen and (max-width: 992px) and (min-width: 599px){

            width: 500px;
            height: 100px;

        }


@include mobile-only{
    margin-left: 2%;
}
        
       
        @include box;
        height: 80px;
        width: 95%;
        background-color: white;
        box-sizing: border-box;
        box-shadow: $shadow;
        position: relative;
        opacity: 0;
        overflow: hidden;
        // display: flex;
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        

        &:hover{

            cursor: pointer;

            & > .liste__menu{

                overflow: hidden;

                & > h4  {

                 overflow: hidden;


                }
                
                & > p{

                    overflow: hidden;
                }

                
             & + .liste__fond-vert{

                transform: translateX(0);
                
                animation: validation  1000ms ease backwards ;
                
                
            & + .liste__prix{
              
               
                    transform:translateX($width-tot* -1);
                    animation: argent 800ms ease backwards;   

            }

                &  > .liste__fond-vert--icone{

                    // transform: rotate(0);
                    animation: icone 300ms 200ms ease forwards;

                }

            }
            }


         }

        // transform: scaleX(0);
        // transform-origin: center top ;
transform: translateY(50%);

        animation: appear $anim-dur 2000ms ease both ;
        @for $i from 1 through $numbox {

            &--#{$i}{
                animation-delay: $anim-delay * $i;
            }
        }
      

        &__menu{
            
            @media only screen and (max-width: 4096px) and (min-width: 992px){
                width: auto;
                
            }

            @media only screen and (max-width: 375px) and (min-width: 0px){
overflow: hidden;

            }
            flex: 1;
            order: 1;            
                       
            width: auto;           
            margin-right: 1%;
            padding-right: 1%;
            margin-left: 1%;
            padding-left: 1%;
            align-self: center;

&--titre{
    // white-space: nowrap;
    // overflow: hidden;
    // text-overflow: ellipsis;
    @include mobile-only{

        align-self: flex-start;
       }
        // width: 100%;
        margin: 0;
        font-weight:bold ;
        font-size: 1.2em;
        padding: $padding-menu;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; 
}
         
        }
        

        & h4{

        }

        & p{
            width: auto;
            margin: 0;
            font-size:1em ;
            padding: $padding-menu;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
           
        }

        &__prix{
            // width: $width-prix;
            white-space: nowrap;
            font-weight: bold;
            margin:$margin-prix;
            margin-bottom: 15px;
            transform: translateX(0);
            transition:transform 800ms ease;
            order: 2;
            align-self: flex-end;
            justify-self: end;
            
            
            
            
            // margin-right:auto ;
            
            // animation: argent-out 1000ms;
          
        }

        &__fond-vert{

            @media only screen and (max-width: 4096px) and (min-width: 599px){

                height: 100%;
                // width:$width-fond;
            }

                order: 3;
                height: 100%;
                // width: $width-fond;
                background-color:$colour-tertiary;
                border-radius: 0  25px 25px 0;               
                display: flex;
                justify-content: center;
                align-items: center;
                transform-origin: right;
                transform:translateX(100%);
                transition:transform 800ms ease ;
                
                
&--icone{

    color: white;
    font-size: 1.7em;
    transform: rotate(360deg);
    
   
    }


            }
    
    }
  
        &__plat {
            @media only screen and (max-width: 4096px) and (min-width: 599px){
                width: auto;
                text-align:center;
                text-decoration: 3px underline $colour-tertiary ;
                border-bottom: none;
            }

            padding: 5px 0 5px 0;
            margin-left: 5px;
            margin-top: 30px;
            width: 40px;
            font-weight: 300;
            border-bottom: 3px solid $colour-tertiary;
            
            
    }



    &__bouton{  
        text-align: center;

    & button{

        &:hover{
            @include eclaircir;
        }

        @media only screen and (max-width: 4096px) and (min-width: 599px){

            width: 250px;
            height: 80px;

        }
        @include btn-acceuil;
        width: 180px;
   
}
}
  
}

///////////////////////////////////////////////////////////////////////
@keyframes argent {

   
    0% {
        transform: translateX(0);
    }100%{
        transform: translateX($width-tot* -1);

    }

}


@keyframes validation{

    0% {
        
        transform: translateX(100%);

    }
    
    100%{
        
        transform: translateX(0);

    }

};

@keyframes icone{

0%{
transform: rotate(-270deg);

}

30%{
    transform: rotate(-180deg);

}50%{
    transform: rotate(-90deg);

}100%{

    transform: rotate(0deg);

}

}




@keyframes appear{

0%{
   
    transform:translateY(1);
    opacity: .0;

    

}20%{
    transform:translateY(0.9);
    opacity: .1;
}
30%{
    transform:translateY(0.8);
    opacity: .1;
}
40%{
    transform:translateY(0.7);
    opacity:.1;

}50%{
    transform:translateY(0.6);
    opacity:.3;
}

70%{
    transform:translateY(0.5);
    opacity:.6;
   

}80%{
    transform:translateY(0.3);
    opacity:.7;

}90%{
    transform:translateY(0.2);
    opacity:.8;
}100%{
    transform:translateY(0);
    opacity:1;

}


}