header{

    position: relative;


    & a{
        text-decoration: none;
        color: black;
    }

    & i{

        position: absolute;
        top:21%;
        left: 10%;
        font-size: $icone-size;
    }

}


.heading{



    @include mobile-only{

        & img{
        
            width: 100%;
            height: 20%;
         
        
        
        }
        
        } 
}


.menu{

    position: relative;
    bottom: 40px;

    box-sizing: border-box;
    padding: 10px 0 90px 0;

    height: auto;
    @include lighter;
    
    border-radius: $border-radius $border-radius 0 0;

    &__icone{
        position: absolute;
        right: 10%;
        top: 3%;
        font-size: 1.5em;
        
    }

    & h1{

        padding: 5px 5px;
    }
    & ul{
        margin: 0 0 50px 0;

        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

    & :first-child{
        margin-top: 0;
    }
}

    & li{

        @include box;
        height: 80px;
        width: 95%;
        background-color: white;
        box-shadow: $shadow;
        position: relative;

        & div{
            position: absolute;
            top: 10px;
        }
        

        & h4{
            margin: 0;
            font-weight:bold ;
            font-size: 1.2em;
            padding: $padding-menu;
            

        }
        & p{
            margin: 0;
            font-size:1em ;
            padding: $padding-menu;
            position: relative;
            
        }

        & span{
            position: absolute;
            font-weight: bold;
            left:90%;
            top: 50%;
          
        }
    }

        &__plat{
            padding: 5px 0 5px 0;
            margin-left: 5px;
            margin-top: 30px;
            width: 40px;
            font-weight: 300;
            border-bottom: 3px solid $colour-tertiary;
    }

        @include mobile-only{

            width: 100%;
    }

    &__bouton{  
        text-align: center;

    & button{

    @include btn-acceuil;
    width: 180px;
   
}
}
  
}

.footer-menu{

    position: relative;
    bottom: 40px;
  
    height: 300px;
}


