$colour-primary:#FF79DA;
$colour-secondary: #9356DC;
$colour-tertiary:#99E2D0;
$color-back:#bcbcbc;
$fuego:rgb(243, 180, 64);
$width-fond:20%;
$width-prix:10%;
$margin-prix:1%;
$width-tot: $width-prix * 4;

$anim-dur:1000ms;
$numbox:10;
$anim-delay: calc($anim-dur/$numbox);

$breakpoints:(
    mobile:599px,
    tablette:992px
);

$greyshades:(

graydark:lighten($color-back,10%),

ligthgray:lighten($color-back,20%),

lightrose:lighten($colour-secondary,30%),

eclaircir: lighten($colour-primary,2%)


);


$shadow:5px 5px 5px rgb(207, 204, 204);
$border-radius: 25px;

$padding-menu:5px 0 1px 10px;

$icone-size:1.4em;

